@model MainTaylorANDClothes.Models.Taylor
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<div>
    <h4>Taylor</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CellNo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CellNo)
                </dd>
            </dl>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Kameez</h2>
            <dl class="dl-horizontal">
                <dt>
                    قميض  لمبائی
                    @*@Html.DisplayNameFor(model => model.KamezLenght)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.KamezLenght)
                </dd>
                <dt>
                    تيرہ
                    @*@Html.DisplayNameFor(model => model.Tera)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tera)
                </dd>
                <dt>
                    گلا/کالر
                    @*@Html.DisplayNameFor(model => model.Galla)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Galla)
                </dd>
                <dt>
                    کندھا
                    @*@Html.DisplayNameFor(model => model.Kandha)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kandha)
                </dd>
                <dt>
                    بغل
                    @*@Html.DisplayNameFor(model => model.Baghal)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Baghal)
                </dd>
                <dt>
                    بازو
                    @*@Html.DisplayNameFor(model => model.Bazoo)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Bazoo)
                </dd>
                <dt>
                    کوہنی
                    @*@Html.DisplayNameFor(model => model.Kohni)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kohni)
                </dd>
                <dt>
                    چيسٹ/چھاتی
                    @*@Html.DisplayNameFor(model => model.Chest)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Chest)
                </dd>
                <dt>
                    کمر
                    @*@Html.DisplayNameFor(model => model.Kamar)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kamar)
                </dd>
                <dt>
                    گھيرا
                    @*@Html.DisplayNameFor(model => model.Ghera)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ghera)
                </dd>
            </dl>
        </div>
        <div class="col-md-4 ">
            <h2>Shalware</h2>
            <dl class="dl-horizontal">
                <dt>
                    شلوار  لمبائی
                    @*@Html.DisplayNameFor(model => model.ShalwaarLenght)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ShalwaarLenght)
                </dd>
                <dt>
                    آسن
                    @*@Html.DisplayNameFor(model => model.Aasan)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Aasan)
                </dd>
                <dt>
                    پانچہ
                    @*@Html.DisplayNameFor(model => model.Ponchha)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ponchha)
                </dd>
                <dt>
                    پلہ
                    @*@Html.DisplayNameFor(model => model.Palla)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Palla)
                </dd>
                <dt>
                    کندہ
                    @*@Html.DisplayNameFor(model => model.Kundha)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kundha)
                </dd>
                <dt>
                    کندی
                    @*@Html.DisplayNameFor(model => model.Kundhi)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kundhi)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h2>Design</h2>
            <dl class="dl-horizontal">
                <dt>
                    سلائی
                    @*@Html.DisplayNameFor(model => model.Saali)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Saali)
                </dd>
                <dt>
                    کف
                    @*@Html.DisplayNameFor(model => model.Kaff)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kaff)
                </dd>
                <dt>
                    بٹن
                    @*@Html.DisplayNameFor(model => model.Button)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Button)
                </dd>
                <dt>
                    جيب
                    @*@Html.DisplayNameFor(model => model.Pocket)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pocket)
                </dd>
                <dt>
                    سٹيکر
                    @*@Html.DisplayNameFor(model => model.Sticker)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sticker)
                </dd>
                <dt>
                    کل سوٹ
                    @*@Html.DisplayNameFor(model => model.TotalSuit)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TotalSuit)
                </dd>
                <dt>
                    گھيرا
                    @*@Html.DisplayNameFor(model => model.Gheras)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gheras)
                </dd>
            </dl>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
